
<%= form_for comment do |f| %>
    <%= f.hidden_field :post_id, value: post.id %>
    <div>
        <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true%>
    </div>

    <div>
        <%= f.fields_for :user, comment.build_user do |u| %>
            <%= u.text_field :username %>
        <% end %>
    </div>

    <div>
        <%= f.text_area :content %>
    </div>

        <%= f.submit %>
<% end %> 