<h1><%= @post.title %></h1>
<p>
    <%= @post.content %>
</p>

<div>Categories</div>
<% @post.categories.each do |category| %>
    <%= category.name %>
<% end %>

<div>Commentors</div>
<% @post.users.uniq.each do |user| %>
    <%= link_to user.username, user_path(user) %>
<% end %>

<div>Comments</div>

<% @post.comments.each do |comment| %>
    <%= comment.user ? comment.user.username : "No valid user" %> says: <%= comment.content %>
<% end %>

<%= form_for @post.comments.build do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.collection_select :user_id, User.all, :id, :username, include_blank: :username %>

    <%= f.fields_for :user, User.new do |user_fields| %>
        <%= user_fields.label :username %>
        <%= user_fields.text_field :username %>
    <% end %><br>

    <%= f.label :content, "New Comment" %><br>
    <%= f.text_area :content %>

    <%= f.submit "Create Comment" %>
<% end %>
